/**
 * Created by tibus on 31/10/14.
 */

body {
    background: #eeeeee;
}

.header {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    color: #777777;
    font-size: 24px;
    line-height: 40px;
    margin: 10px;
}

.pull-right {
    float: right!important;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#game canvas {
    margin-top: 10px;
    cursor: none;
}

#game .scores {
    height: auto;
}

.player {
    margin-right: 20px;
    line-height: 15px;
    font-weight: bold;
}

.player1 .badge {
    background-color: red;
    font-size: 1.1em;
    border: 1px solid #ffffff;
}

.player2 .badge {
    background-color: #ffff00;
    font-size: 1.1em;
    color: dimgrey;
    border: 1px solid gray;
}