/**
 * Created by tibus on 31/10/14.
 */

body {
    background: #eeeeee;
}

.header {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    color: #777777;
    font-size: 24px;
    line-height: 40px;
    margin: 10px;
}

#game .glyphicon {
    text-align: right;
    font-size: 1.1em;
    text-shadow: -1px -1px 1px rgba(150, 150, 150, 1);
}

#game .player1 .glyphicon {
    color: red;
}

#game .player2 .glyphicon {
    color: #ffff00;
}