<div id="game" class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="row">
            <div class="col-md-1 player1">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="col-md-2">
                {{ player1.pseudo }}
            </div>
            <div class="col-md-1 player1">
                <span class="badge">{{ player1.score }}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 player2">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="col-md-2">
                {{ player2.pseudo }}
            </div>
            <div class="col-md-1 player1">
                <span class="badge">{{ player2.score }}</span>
            </div>
        </div>

        <div class="row">
            <canvas id="canvas"></canvas>
        </div>

        <div class="row">
            <div class="progress" style="{{ progessBarWidth }}">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ progess }}" aria-valuemin="0" aria-valuemax="100" style="{{ progessStyle }}">
                    {{ progess }}%
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="alert alert-success alert-dismissible" role="alert">-->
    <!--<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
    <!--{{ message }}-->
<!--</div>-->